body{
    color: red;
    background-color: aquamarine;
}

.banner{
    width: 50px;
}
svg{
    color:rgb(44, 164, 185);
}
form{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
